:root {
  --background-color: rgb(134, 131, 131);
  --first-color: #262626;
  --second-color: #4d4d4d;
  --button-red-color: #fa7272;
  --button-white-color: #ffffff;
  --card-radius: 12px;
  --cell-hover-bg: #2f2f2f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
